---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Astro Minimal Starter",
  description: "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support."
  }
---

<Layout
  seo={seo}
>
  <Container>
    <h1>コードアーカイブス</h1>
    <p>
現在、準備中です。
    </p>
  </Container>
</Layout>
