---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "プライバシーポリシー",
  description: "コードアーカイブスのプライバシーポリシーです。"
  }
---

<Layout
  seo={seo}
>
  <Container>
    <h1>プライバシーポリシー</h1>

    <p>
      コードアーカイブス（以下、本サークル）は
    </p>
  </Container>
</Layout>
